body {
    background-color: #131313;
}

h1 {
    color: white;
}
p {
    color: white;
}

.header {
    text-align: center;
    margin-bottom: 1em;
}

#passwordConfirm {
    margin-top: 0.5em;
    margin-bottom: 2em;
}
